.Navigation-wrapper {
  background-color: rgb(233, 233, 233);
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.Navigation-links {
  display: block;
  color: lightslategray;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

.Navigation-searchBar {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  /* display:block; */
  padding: 7px 8px;
  margin: 7.5px 0 0 0 ;
  /* text-align: center; */
  width: 270px;
  /* background-color: violet; */
  resize: vertical;
  overflow: auto;
  font-family: 'Yusei Magic', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.Navigation-searchBar__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* resize: vertical; */
  overflow: auto;
  white-space: nowrap;
}

.Navigation-searchBar__icon{
  /* display: flex; */
  position: absolute;
  text-align: center;
  left: 325px;
  top: 19px;
  color:  lightslategray;
}

.Navigation-links:hover{
  background-color:rgb(210, 210, 210);
}


.Navigation-button {
  display: block;
  border: none;
  margin: 0;
  text-decoration: none;
  color: lightslategray;
}


.float-right {
  float: right;
}

.float-left {
  float: left;
}




















.Navigation-searchBarModal {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  /* display:block; */
  padding: 7px 8px;
  margin: 7.5px 0 0 0 ;
  /* text-align: center; */
  width: 98%;
  /* background-color: violet; */
  resize: vertical;
  overflow: auto;
  font-family: 'Yusei Magic', sans-serif;
  margin-left: 10px;
  /* background-color: green; */
}

.Navigation-searchBarModal__icon{
  /* display: flex; */
  position: absolute;
  text-align: center;
  left: 325px;
  top: 19px;
  color:  lightslategray;
}
